# This is a PIP 6+ requirements file for using PyHERA and scripts
#
# All dependencies can be installed using:
# $ sudo pip install -r requirements.txt
#
# It is organised so that simple requirements
# are processed first, and more difficult packages
# are last.
#
# It is good practise to install packages using the system
# package manager if it has a packaged version.  If you are
# unsure, please use pip as described at the top of the file.
#
# To get a list of potential matches, use
#
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs yum search
#     or
# $ awk -F '[#>=]' '{print $1}' requirements.txt | xargs apt-cache search

# As of this writing (2021-08-01) it is highly unlikely there will be any
# effort to support python older than version 3.9.

# mandatory dependencies, others are optional
requests>=2.20.1, < 2.26.0; python_version < '3.6'
requests>=2.20.1 ; python_version >= '3.6'
setuptools>=48.0.0 ; python_version >= '3.10'
setuptools>=38.5.2 ; python_version >= '3.7' and python_version < '3.10'
setuptools>=20.8.1 ; python_version >= '3.6' and python_version < '3.7'
setuptools>=20.8.1, !=50.0.0, <50.2.0 ; python_version < '3.6'
