{
    "_metadata": {
        "description": "User provided config for subcommands"
    },
    "build": {
        "family": "abraxas",
        "neo": 0,
        "assoc": 0,
        "stack": 0
    },
    "destroy": {},
    "up": {
        "device": 0
    },
    "down": {},
    "agents": {},
    "devices": {},
    "layouts": {},
    "types": {}
}